In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce

In [35]:
df = pd.read_csv('/home/aleksandr/Документы/GitHub/data/new-site.csv', sep = "\t")

In [19]:
df.head()

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

In [36]:
daily_data = df.groupby(['site']).agg({
    'dwell-time':'sum'
}).reset_index()
daily_data.head()

   site  dwell-time
0     0       16898
1     1       10032

In [37]:
data_time= df.groupby(['site']).agg({
    'dwell-time':'count'
}).reset_index()
data_time.head()

   site  dwell-time
0     0         186
1     1         114

In [40]:
daily_data['time_mean'] = round(daily_data['dwell-time']/data_time['dwell-time'])

In [41]:
daily_data

   site  dwell-time  time_mean
0     0       16898       91.0
1     1       10032       88.0

In [46]:
from statsmodels.stats import weightstats

_ ,p = weightstats.ztest(df[df['site']==0]['dwell-time'], x2=df[df['site']==1]['dwell-time'], value=0,alternative='larger')
print(float(p))


if p < 0.05:
    print("Мы отвергаем нулевую гипотезу об отсутсвии различий между данными.")
else:
    print("Мы не можем отвергнуть нулевую гипотезу об отсутсвии различий между данными.")

0.40683227733104266
Мы не можем отвергнуть нулевую гипотезу об отсутсвии различий между данными.

In [50]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'
from scipy.stats import shapiro
alpha = 0.05

_, p = shapiro(df[df['site']==0]['dwell-time'])
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.000
Данные не распределены нормально (мы отвергаем H0)

In [51]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'
from scipy.stats import shapiro
alpha = 0.05

_, p = shapiro(df[df['site']==1]['dwell-time'])
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.000
Данные не распределены нормально (мы отвергаем H0)