In [6]:
import numpy as np
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', index_col=False)

In [25]:
#student_data.info()
student_data.head()
#student_data.shape[0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [39]:
#student_data.loc[155, 'writing score']
#student_data.isna().sum()
#student_data.describe(include='object')
#int(student_data['math score'].mean())
#student_data['race/ethnicity'].mode()
#round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())
#student_data[student_data['math score'] == 0].shape

(1, 8)

In [43]:
int(student_data[student_data['lunch'] == 'standard']['math score'].mean())
#student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

70

In [50]:
#student_data['parental level of education'].value_counts(normalize = True)*100

In [55]:
a_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
c_mean = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
round(abs(a_median - c_mean))

6