### Новое SQL

Задание 1
Реляционная БД - это
Связанная информация представленная в виде двумерных  таблиц

Задание 2
Оператор SE:ECT относится к
→ Мы будем изучать только DML-операторы (для манипуляций с данными), а конкретнее — оператор SELECT, который позволяет выбрать из БД интересующие нас данные.

Задание 3
Верно: В - таблицы муви и жанры связаны как многие ко многим
С - таблицы мувис связана с муви_жанры как один ко многим
G - в таблице муви_жанры атрибуд id является первичным ключом
Е

Неверно: А, D, F

Задание 4
Напишите запрос, который выведет количество фильмов в каждом жанре для случаев, когда в жанре представлено три или больше фильмов.
Столбцы к выводу ― genre_name (имя жанра) и movies_count (количество фильмов).
Результат отсортируйте по второму полю по убыванию.

select
    g.name genre_name,
    count(*) as movies_count
from sqlprotest.genres g
    left join sqlprotest.movie_genres mg on g.id = mg.genre_id
    left join sqlprotest.movies m on mg.movie_id = m.id
group by 1
having count(*) >=3
order by 2 desc

Задание 5
Допустим, у нас есть две таблицы с одинаковыми полями (хранят один и тот же вид информации): A {name, description} и B {name, description}.
Какой запрос позволит вывести все поля из этих двух объединённых таблиц без дубликатов?

select *
from A
union
select *
from B

задание 6
таблице t1 присвоен алиас F1

Задание 7 
Is null

Задание 8
Напишите запрос, с помощью которого можно выбрать фильмы, не относящиеся к жанру 'Криминал'.
Выведите все столбцы таблицы movies. Результат должен быть отсортирован по названию фильмов по возрастанию.

SELECT *
FROM sqlprotest.movies
EXCEPT
SELECT m.id,
    m.name,
    m.year,    
    m.rating
FROM sqlprotest.movies m
    JOIN sqlprotest.movie_genres mg ON m.id = mg.movie_id
WHERE mg.genre_id=5
ORDER BY 2

Задание 9
Напишите запрос, который покажет три фильма, у которых есть рейтинг.
Отсортируйте выборку по возрастанию года выхода фильма.
Выведите все поля таблицы movies.

select *
from sqlprotest.movies m
where m.rating is not null
order by m.year
limit 3

Задание 10
К агрегатным функциям относятся 
min max count...

Задание 11
Напишите запрос, с помощью которого можно вычислить средний рейтинг фильмов в каждом жанре.
Выведите два столбца: genre_name (название жанра) и average_rating (средний рейтинг).

Результат отсортируйте по второму полю по убыванию.

select
    g.name genre_name,
    avg(m.rating) average_rating
from sqlprotest.genres g
    left join sqlprotest.movie_genres mg on g.id = mg.genre_id
    left join sqlprotest.movies m on mg.movie_id = m.id
group by 1
order by 2 desc

Задание 12
Напишите запрос, чтобы вывести все названия фильмов и их рейтинги.
Если рейтинга нет, отобразите 0 для такого фильма. Отсортировать по названию фильма по возрастанию.

select
    m.name,
    coalesce(m.rating, 0) rating
from sqlprotest.movies m
order by 1