Задание 4
Напишите запрос, который выведет количество фильмов в каждом жанре для случаев, когда в жанре представлено три или больше фильмов.
Столбцы к выводу ― genre_name (имя жанра) и movies_count (количество фильмов).

select
    g.name genre_name,
    count(*) as movies_count
from sqlprotest.genres g
    left join sqlprotest.movie_genres mg on g.id = mg.genre_id
    left join sqlprotest.movies m on mg.movie_id = m.id
group by 1
having count(*) >=3

Задание 8
Напишите запрос, с помощью которого можно выбрать фильмы, не относящиеся к жанру 'Криминал'.
Выведите все столбцы таблицы movies. Результат должен быть отсортирован по названию фильмов по возрастанию.

select
    m.ID,
    m.Name,
    m.Rating,
    m.Year
from sqlprotest.genres g
    left join sqlprotest.movie_genres mg on g.id = mg.genre_id
    left join sqlprotest.movies m on mg.movie_id = m.id
where g.name != 'Криминал'
order by 2

Задание 9
1 point possible (graded)
Напишите запрос, который покажет три фильма, у которых есть рейтинг.
Отсортируйте выборку по возрастанию года выхода фильма.
Выведите все поля таблицы movies.

select *
from sqlprotest.movies m
order by m.year
limit 3

Задание 11
1 point possible (graded)
Напишите запрос, с помощью которого можно вычислить средний рейтинг фильмов в каждом жанре.
Выведите два столбца: genre_name (название жанра) и average_rating (средний рейтинг).

select
    g.name genre_name,
    avg(m.rating) average_rating
from sqlprotest.genres g
    left join sqlprotest.movie_genres mg on g.id = mg.genre_id
    left join sqlprotest.movies m on mg.movie_id = m.id
group by 1

Задание 12
1 point possible (graded)
Напишите запрос, чтобы вывести все названия фильмов и их рейтинги.
Если рейтинга нет, отобразите 0 для такого фильма.

select
    m.name,
    coalesce(m.rating, 0) rating
from sqlprotest.movies m