## 1. Знакомимся с данными

Агрегатные функции помогают вычислять сводные значения для группы строк.

## 2. Убираем повторяющиеся значения

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом DISTINCT.

SELECT DISTINCT
    type1,
    type2
FROM sql.pokemon

## 3. Агрегатные функции

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.
Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.

SELECT
    COUNT(*)
FROM sql.pokemon

### Задание 3.1
Сколько покемонов имеет дополнительный тип?

SELECT
    COUNT(type2)
FROM sql.pokemon

SELECT
    COUNT(DISTINCT type1)
FROM sql.pokemon

Основные агреагтные функции:

COUNT — вычисляет число непустых строк;
SUM — вычисляет сумму;
AVG — вычисляет среднее;
MAX — вычисляет максимум;
MIN — вычисляет минимум.

### Задание 3.3
Найдите максимальное значение атаки среди всех покемонов.

SELECT
    max(attack)
FROM sql.pokemon

### Задание 3.4
Какое среднее количество очков здоровья у покемонов-драконов (то есть тех, у кого основной тип — Dragon)?
Введите целое число, округлив в сторону уменьшения.

SELECT
    avg(hp)
FROM sql.pokemon
where type1 = 'Dragon'

Несколько агг. функций

SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"
FROM sql.pokemon
WHERE type1 = 'Grass'

### Задание 3.5
Напишите запрос, который выведет:

количество покемонов (столбец pokemon_count);
среднюю скорость (столбец avg_speed);
максимальное и минимальное число очков здоровья (столбцы max_hp и min_hp) для электрических (Electric) покемонов, имеющих дополнительный тип и показатели атаки или защиты больше 50.

SELECT
    COUNT(id) as "pokemon_count",
    AVG(speed) AS "avg_speed",
    max(hp) AS "max_hp",
    min(hp) AS "min_hp"
FROM sql.pokemon
WHERE
    type1 = 'Electric'
    and type2 is not null
    and (attack> 50 or defense>50)

## 4. Группировка

GROUP BY используется для определения групп выходных строк, к которым могут применяться агрегатные функции.

SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY type1
ORDER BY type1

Представим ТОП существующих типов покемонов.

SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY pokemon_type
ORDER BY COUNT(*) DESC

### Задание 4.1
Напишите запрос, который выведет:

число различных дополнительных типов (столбец additional_types_count);
среднее число очков здоровья (столбец avg_hp);
сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).
Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке.
Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

SELECT
    type1 as primary_type,
    count(DISTINCT type2) as additional_types_count,
    avg(hp) as avg_hp,
    sum(attack) as attack_sum
FROM sql.pokemon
group by primary_type
order by additional_types_count desc, primary_type

Мы можем осуществлять группировку по нескольким столбцам.

SELECT
    type1 AS primary_type,
    type2 AS additional_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY 1, 2
ORDER BY 1, 2 NULLS FIRST

## 5. Фильтрация агрегированных строк

для фильтрации уже агрегированных данных применяется ключевое слово HAVING.

Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.

SELECT
    type1 AS primary_type,
    AVG(attack) AS avg_attack
FROM sql.pokemon
GROUP BY primary_type 
HAVING AVG(attack) > 90
order by avg(attack)

В общем виде синтаксис оператора SELECT, с учётом имеющихся на данный момент знаний, представляем следующим образом:

SELECT [ALL | DISTINCT] список_столбцов|*
FROM список_имён_таблиц
[WHERE условие_поиска]
[GROUP BY список_имён_столбцов]
[HAVING условие_поиска]
[ORDER BY имя_столбца [ASC | DESC],…]

### Задание 5.1
Напишите запрос, который выведет основной и дополнительный типы покемонов (столбцы primary_type и additional_type) для тех типов, у которых средний показатель атаки больше 100 и максимальный показатель очков здоровья меньше 80.

SELECT
    type1 primary_type,
    type2 additional_type
FROM sql.pokemon
GROUP BY primary_type, additional_type
HAVING AVG(attack) > 100 and max(hp) < 80

### Задание 5.2
Напишите запрос, который выводит столбцы с основным типом (primary_type) и числом покемонов этого типа (pokemon_count) для тех покемонов, чьё имя (name) начинается с S.
Оставьте только типы, у которых средний показатель защиты больше 80.
Выведите только ТОП-3 типов по числу покемонов в них.

SELECT
    type1 as primary_type,
    count(*) as pokemon_count
FROM sql.pokemon
where Name like 'S%'
GROUP BY primary_type
HAVING AVG(defense) > 80
order by pokemon_count desc
limit 3

## 6. Итоги

И в довершение итогов напомним структуру запроса, который мы можем составить с учётом новых знаний:

SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

### Задание 6.1
Сколько различных значений показателей атаки есть у покемонов с типом Water (основным или дополнительным)?

SELECT
    count(distinct attack) as attack_count
FROM sql.pokemon
where type1 = 'Water' or type2 = 'Water'

### Задание 6.2
Напишите запрос, который выведет основной и дополнительный типы покемонов и средние значения по каждому показателю (столбцы avg_hp, avg_attack, avg_defense, avg_speed).
Оставьте только те пары типов, у которых сумма этих четырёх показателей более 400.

SELECT
    type1 as primary_type,
    type2 as second_type,
    avg(hp) as avg_hp,
    avg(attack) as avg_attack,
    avg(defense) as avg_defense,
    avg(speed) as avg_speed
FROM sql.pokemon
GROUP BY primary_type, second_type
HAVING avg(hp) + avg(attack) + avg(defense) + avg(speed) >400

### Задание 6.3
Напишите запрос, который выведет столбцы с основным типом покемона и общим количеством покемонов этого типа.
Учитывайте только тех покемонов, у которых или показатель атаки, или показатель защиты принимает значение между 50 и 100 включительно.
Оставьте только те типы покемонов, у которых максимальный показатель здоровья не больше 125.
Выведите только тот тип, который находится на пятом месте по количеству покемонов.

SELECT
    type1 as primary_type,
    count(*) pokemon_count
FROM sql.pokemon
where attack between 50 and 100 or defense between 50 and 100
GROUP BY primary_type
HAVING max(hp) <= 125
order by pokemon_count desc
offset 4 limit 1