## 1. Что такое базы данных?

База данных — это организованная структура для хранения, изменения и обработки взаимосвязанной информации.
Базы данных можно разделить на два вида:
Реляционные. В таких БД данные хранятся в виде связанных таблиц. В этом курсе мы сфокусируемся именно на реляционных БД.
Нереляционные. Такие БД имеют специфическую структуру: например, данные хранятся в формате ключ-значение или в виде дерева.

СИСТЕМЫ УПРАВЛЕНИЯ БАЗАМИ ДАННЫХ
Система управления базами данных, или СУБД (от англ. DataBase Management System, DBMS) — это комплекс программных средств, необходимых для создания структуры новой базы, её наполнения, редактирования содержимого и отображения информации.

## 2. Что такое SQL?

Как вы уже знаете, для взаимодействия с базами данных через СУБД часто используется язык SQL (Structured Query Language). Он применяется для создания, модификации и управления данными.

ВИДЫ ОПЕРАТОРОВ SQL

- операторы определения данных (Data Definition Language, DDL) — с их помощью создаются и изменяются объекты в БД (сама БД, таблицы, функции, процедуры, пользователи и т. д.);
- операторы манипуляции данными (Data Manipulation Language, DML) — с их помощью проводятся манипуляции с данными в таблицах;
- операторы определения доступа к данным (Data Control Language, DCL) — с их помощью, как следует из названия, создаются и изменяются разрешения на определённые - операции с объектами в БД;
- операторы управления транзакциями (Transaction Control Language, TCL) — с их помощью осуществляется комплекс определённых действий, причём так, что либо все эти действия выполняются успешно, либо ни одно из них не выполняется вообще.

## 3. Что такое Metabase?

Metabase — это бесплатный и удобный инструмент для первичного анализа данных с возможностью передавать запросы.

## 1. Получаем все данные из таблицы

SELECT movie_title, year, rating
FROM sql.kinopoisk

Задание 1.2

Напишите запрос, который выведет из таблицы kinopoisk следующие столбцы:
имя режиссёра (director),
название фильма (movie_title),
разница между максимально возможным рейтингом (10) и рейтингом этого фильма.

SELECT
    director,
    movie_title,
    10-rating
FROM sql.kinopoisk

ЧТО МЫ ВИДИМ?

SELECT
    director,
    movie_title,
    10 - rating AS difference
FROM sql.kinopoisk

Новое имя является просто псевдонимом, или алиасом - имя, назначенное источнику данных в запросе при использовании выражения в качестве источника данных или для упрощения ввода и прочтения инструкции SQL.

Обратите внимание! Если в алиасе используется кириллица или пробелы, необходимо заключать его в двойные кавычки: 10 - rating AS "разница" или movie_title AS "Movie Title".

ПРОСТЫЕ ОПЕРАЦИИ С ДАННЫМИ

Задание 1.3
Напишите запрос, который выведет столбцы с именем режиссёра, названием фильма, рейтингом по 100-балльной шкале (столбец rating_100).
Рейтинг по 100-балльной шкале определите как оценку по 10-балльной, умноженную на 10.

SELECT
    director,
    movie_title,
    rating*10 AS rating_100
FROM sql.kinopoisk

## 2. Фильтруем строки

WHERE

SELECT
    position,
    movie_title,
    year,
    director
FROM sql.kinopoisk
WHERE year < 1984

SELECT *
FROM sql.kinopoisk
WHERE year <> 2000

Задание 2.1

Напишите запрос, чтобы вывести все столбцы для фильмов, которые вышли в прокат в 1999 году.

SELECT *
FROM sql.kinopoisk
WHERE year = 1999

AND И OR

SELECT *
FROM sql.kinopoisk
WHERE year >= 1975
AND year <= 1985

BETWEEN

SELECT *
FROM sql.kinopoisk
WHERE year BETWEEN 1975 AND 1985

Задание 2.2

Напишите запрос, который выведет столбцы с именем режиссёра и названием фильмов, у которых рейтинг больше или равен 8.5. Сколько в представленном списке фильмов, имеющих рейтинг от 8.7 до 8.8 включительно?

SELECT director, movie_title
FROM sql.kinopoisk
WHERE rating >= 8.5

SELECT director, movie_title
FROM sql.kinopoisk
WHERE rating between 8.7 and 8.8

NOT

SELECT
    year,
    movie_title,
    director
FROM sql.kinopoisk
WHERE (rating > 8.5 AND year < 2000)
    OR year >= 2000

IN

column IN (value1, value2, value3) Эта запись аналогична следующей: column = value1 OR column = value2 OR column = value3

Задание 2.4

Напишите запрос, который выводит названия фильмов, вышедших в прокат в 2000, 1985 и 1939 годах.

SELECT
    movie_title
FROM sql.kinopoisk
WHERE year in (2000, 1985, 1939)

SELECT *
FROM sql.kinopoisk
WHERE director = 'Леонид Гайдай'

LIKE

SELECT *
FROM sql.kinopoisk
WHERE movie_title LIKE '%а%б%'

Задание 2.5

Напишите запрос, чтобы вывести название и год выпуска в прокат тех фильмов, которые были сняты режиссёром по имени Дэвид (то есть значение в поле director начинается с 'Дэвид') и имеют рейтинг больше 8.

SELECT
    movie_title,
    year
FROM sql.kinopoisk
WHERE director like 'Дэвид%'
and rating >=8

NULL

SELECT *
FROM sql.kinopoisk
WHERE overview is NULL

## 3. Сортировка

In [ ]:
ORDER BY

Задание 3.1
Напишите запрос, который выведет из таблицы kinopoisk все столбцы, и отсортируйте строки по возрастанию рейтинга фильма.

SELECT *
FROM sql.kinopoisk
ORDER BY rating

SELECT *
FROM sql.kinopoisk
ORDER BY rating ASC

Здесь ASC — явное указание порядка сортировки по возрастанию (англ. ascending).
Для обратного порядка используется ключевое слово DESC (англ. descending).

SELECT
    movie_title,
    director,
    screenwriter,
    year
FROM sql.kinopoisk
WHERE country = 'СССР'
ORDER BY rating DESC

Задание 3.2
Напишите запрос, который выведет столбцы с названием фильма, его описанием и годом выхода в прокат. Оставьте только те фильмы, у которых рейтинг не ниже 8.2 и страна производства — не США.
Отсортируйте вывод по году выхода фильма в порядке убывания.

SELECT
    movie_title,
    overview,
    year
FROM sql.kinopoisk
WHERE rating >=8.2
and country != 'США'
ORDER BY year DESC

Также в ORDER BY можно указывать, где должны идти пустые значения — в начале или в конце.
Такая настройка порядка вывода задаётся с помощью ключевых слов NULLS FIRST / NULLS LAST

SELECT
    movie_title,
    rating,
    overview,
    year
FROM sql.kinopoisk
ORDER BY overview NULLS FIRST

Задание 3.3
Напишите запрос, чтобы вывести названия всех фильмов (столбец Название фильма), у которых рейтинг выше 8.3 и страна производства — Франция.
Отсортируйте по рейтингу в порядке убывания, далее — по году выхода в прокат (также в порядке убывания).

SELECT
    movie_title
FROM sql.kinopoisk
WHERE rating > 8.3
    AND country = 'Франция'
ORDER BY rating DESC,
    year DESC

Для упрощения работы с ORDER BY можно использовать не названия столбцов, а их номера из вывода.
SELECT
    director,
    movie_title,
    year
FROM sql.kinopoisk
ORDER BY 1, 3 DESC

## 4. Ограничение вывода

LIMIT - вывод ТОПа по какому-то показателю.

SELECT *
FROM sql.kinopoisk
LIMIT 10

SELECT
    movie_title,
    rating
FROM sql.kinopoisk 
ORDER BY rating DESC
LIMIT 5

Задание 4.1
Напишите запрос, который выводит ТОП-20 самых старых (определяем по году выхода в прокат) фильмов из таблицы kinopoisk.
Выведите столбцы Режиссёр, Название фильма, Актёры.

SELECT
    director,
    movie_title,
    actors
FROM sql.kinopoisk 
ORDER BY year ASC
LIMIT 20

OFFSET «обрезает» указанное число первых строк.

SELECT
    movie_title,
    rating 
FROM sql.kinopoisk
ORDER BY rating DESC
OFFSET 3 LIMIT 5

Задание 4.2
Напишите запрос, чтобы вывести названия фильмов, которые вышли в прокат после 1990 года и были сняты не в России. Из этого списка оставьте только те фильмы, которые занимают с 20 по 47 места в рейтинге.
Отсортируйте результат по убыванию рейтинга фильмов.

SELECT
    movie_title 
FROM sql.kinopoisk
WHERE year > 1990
    and country != 'Россия'
ORDER BY rating desc
OFFSET 19 LIMIT 28

## 5. Итоги

структурa простого запроса:

SELECT
    столбец1 AS новое_название,
    столбец2,
    столбец3
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

Задание 5.1
Какой режиссёр снял самый старый фильм в списке?

SELECT
    director 
FROM sql.kinopoisk
ORDER BY year asc


Задание 5.2
В каком году был выпущен фильм, который занимает 111 строку в списке, отсортированном по рейтингу в порядке убывания?
При равенстве рейтинга отсортируйте по названию фильма в алфавитном порядке.

SELECT
    year,
    position
FROM sql.kinopoisk
ORDER BY rating desc, movie_title
offset 110


Задание 5.3
Напишите запрос, который выводит столбцы «Название фильма» (movie_title), «Режиссёр» (director), «Сценарист» (screenwriter), «Актёры» (actors). Оставьте только те фильмы, у которых:
рейтинг между 8 и 8.5 (включительно) ИЛИ год выхода в прокат до 1990;
есть описание;
название начинается не с буквы 'Т';
название состоит ровно из 12 символов.
Оставьте только ТОП-7 по рейтингу.

SELECT
    movie_title,
    director,
    screenwriter,
    actors
FROM sql.kinopoisk
WHERE (rating BETWEEN 8 AND 8.5 OR year < 1990)
    AND overview IS NOT NULL
    AND movie_title NOT LIKE 'Т%'
    AND movie_title LIKE '____________'
ORDER BY rating DESC
LIMIT 7