In [4]:
import pandas as pd
import seaborn as sns

In [12]:
df = pd.read_excel('/home/aleksandr/Документы/Gazprom/Отчет.xlsx')
df.head()

,Дата,"Температура наружнего воздуха, оС","Нагрузка ЗРУ-10 кВ ДКС, кВт",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Аво газа,Unnamed: 20,Unnamed: 21,Мощность общая Р кВт,Unnamed: 23,"Часовой расход газа, тыс.м3",Unnamed: 25
0,NaT,NaN,яч. №5\nВвод 1,яч. №20\nВвод 2,яч. №1\nЭГПА-1,яч. №24\nЭГПА-2,яч. №3\nЭГПА-3,яч. №19\nКТП-10 Ввод 1,яч. №8\nКТП-10 Ввод 2,яч. №21\nКТП-11 Ввод 1,...,2 С.Ш.,NaN,NaN,В работе,В резерве,В ремонте,ЗРУ-10кВ ДКС,ЗРУ-10кВ УППГ,ДКС ВЯГП,ДКС ЕПГМ
1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Uab,Ubc,Uac,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-05,-35,12400,11700,11100,10700,-,461,298,447,...,9.95,9.83,9.86,18,45,3,24100,307,NaN,NaN
3,2021-01-06,-30,12400,11900,10700,10900,-,477,297,433,...,9.82,9.82,9.84,18,45,3,24300,330,NaN,NaN
4,2021-01-07,-27,12200,11800,10900,10800,-,486,305,397,...,9.93,9.79,9.81,21,42,3,24000,313,NaN,NaN